:root {
  /* Color styles */
  --material-theme--white: rgba(255, 255, 255, 1);
  --material-theme--black: rgba(0, 0, 0, 1);
  --light-eyebrow-text: #BF7F07; 
  
  --light-primary: #1b285c;
 --light-surface-tint: rgb(79 91 146);
 --light-on-primary: rgb(255 255 255);
 --light-primary-container: rgb(58 70 123);
 --light-on-primary-container: rgb(255 255 255);
 --light-secondary: rgb(63 39 0);
 --light-on-secondary: rgb(255 255 255);
 --light-secondary-container: rgb(102 66 0);
 --light-on-secondary-container: rgb(255 255 255);
 --light-tertiary: rgb(59 41 0);
 --light-on-tertiary: rgb(255 255 255);
 --light-tertiary-container: rgb(96 69 0);
 --light-on-tertiary-container: rgb(255 255 255);
 --light-error: rgb(96 0 4);
 --light-on-error: rgb(255 255 255);
 --light-error-container: rgb(152 0 10);
 --light-on-error-container: rgb(255 255 255);
 --light-background: rgb(251 248 255);
 --light-on-background: rgb(27 27 33);
 --light-surface: rgb(251 248 255);
 --light-on-surface: rgb(0 0 0);
 --light-surface-variant: rgb(226 225 236);
 --light-on-surface-variant: rgb(62, 62, 62);
 --light-outline: #807D76;
 --light-outline-variant: #DDD6C8;
 --light-shadow: rgb(0 0 0);
 --light-scrim: rgb(0 0 0);
 --light-inverse-surface: rgb(48 48 54);
 --light-inverse-on-surface: rgb(255 255 255);
 --light-inverse-primary: rgb(184 195 255);
 --light-primary-fixed: rgb(58 70 123);
 --light-on-primary-fixed: rgb(255 255 255);
 --light-primary-fixed-dim: rgb(34 47 99);
 --light-on-primary-fixed-variant: rgb(255 255 255);
 --light-secondary-fixed: rgb(102 66 0);
 --light-on-secondary-fixed: rgb(255 255 255);
 --light-secondary-fixed-dim: rgb(72 45 0);
 --light-on-secondary-fixed-variant: rgb(255 255 255);
 --light-tertiary-fixed: rgb(96 69 0);
 --light-on-tertiary-fixed: rgb(255 255 255);
 --light-tertiary-fixed-dim: rgb(67 47 0);
 --light-on-tertiary-fixed-variant: rgb(255 255 255);
 --light-surface-dim: rgb(185 184 191);
 --light-surface-bright: rgb(251 248 255);
 --light-surface-container-lowest: rgb(255 255 255);
 --light-surface-container-low: #F7F4EE;
 --light-surface-container: #F5F1E8;
 --light-surface-container-high: #F4EFE3;
 --light-surface-container-highest: #EEE7D6;

  --dark-primary: rgb(184 195 255);
 --dark-surface-tint: rgb(184 195 255);
 --dark-on-primary: rgb(32 44 97);
 --dark-primary-container: rgb(55 67 121);
 --dark-on-primary-container: rgb(221 225 255);
 --dark-secondary: rgb(245 189 111);
 --dark-on-secondary: rgb(69 43 0);
 --dark-secondary-container: rgb(99 63 0);
 --dark-on-secondary-container: rgb(255 221 180);
 --dark-tertiary: rgb(235 193 108);
 --dark-on-tertiary: rgb(64 45 0);
 --dark-tertiary-container: rgb(92 66 0);
 --dark-on-tertiary-container: rgb(255 222 163);
 --dark-error: rgb(255 180 171);
 --dark-on-error: rgb(105 0 5);
 --dark-error-container: rgb(147 0 10);
 --dark-on-error-container: rgb(255 218 214);
 --dark-background: rgb(18 19 24);
 --dark-on-background: rgb(227 225 233);
 --dark-surface: rgb(18 19 24);
 --dark-on-surface: rgb(255, 255, 255);
 --dark-surface-variant: #C6C5D0;
 --dark-on-surface-variant: rgb(198 197 208);
 --dark-outline: rgb(144 144 154);
 --dark-outline-variant: rgb(69 70 79);
 --dark-shadow: rgb(0 0 0);
 --dark-scrim: rgb(0 0 0);
 --dark-inverse-surface: rgb(227 225 233);
 --dark-inverse-on-surface: rgb(48 48 54);
 --dark-inverse-primary: rgb(79 91 146);
 --dark-primary-fixed: rgb(221 225 255);
 --dark-on-primary-fixed: rgb(7 22 75);
 --dark-primary-fixed-dim: rgb(184 195 255);
 --dark-on-primary-fixed-variant: rgb(55 67 121);
 --dark-secondary-fixed: rgb(255 221 180);
 --dark-on-secondary-fixed: rgb(41 24 0);
 --dark-secondary-fixed-dim: rgb(245 189 111);
 --dark-on-secondary-fixed-variant: rgb(99 63 0);
 --dark-tertiary-fixed: rgb(255 222 163);
 --dark-on-tertiary-fixed: rgb(38 25 0);
 --dark-tertiary-fixed-dim: rgb(235 193 108);
 --dark-on-tertiary-fixed-variant: rgb(92 66 0);
 --dark-surface-dim: rgb(18 19 24);
 --dark-surface-bright: rgb(56 57 63);
 --dark-surface-container-lowest: rgb(13 14 19);
 --dark-surface-container-low: rgb(27 27 33);
 --dark-surface-container: rgb(31 31 37);
 --dark-surface-container-high: rgb(41 42 47);
 --dark-surface-container-highest: rgb(52 52 58);

  --text-gradient: linear-gradient(90deg, #1A868A 0%, #6AEB95 100%);


  
}
